@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        The application allows you to keep records of employees of their mailboxes, birthdays. And also add, delete, edit and filter them on a separate page.
        Editing records is only available for accounts with "admin" privileges.
    </p>
</div>
